<%- include('../partials/header') %>

<form id="watchedForm" action="/watchlist/index" method="POST">
    <label>Watched?</label>
      <select name="weebWatching">
        <option value="Finished">Finished</option>
        <option value="Watching">Watching</option>
        <option value="Not watched">Not watched</option>
      </select>
    <input type="submit" value="Add to watchlist">
  </form>

  <%- include('../partials/footer') %>