* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #f8aae5;
  }

  body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
      "nav"
      "main"
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
  }
  
  .login img {
    height: 30px;
  }