<%- include('../partials/header')%>

<h1>Edit Review</h1>

<form action="/animes/edit<%= manga.id %>/update?_method=PUT" method="POST">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Edit Review">
</form>

<%- include('../partials/footer')%>