<%- include('../partials/header') %>
<form id="new-form" action="/animes" method="POST">
    <label>Title:</label>
      <input type="text" name="title">
    <label>Synopsis</label>
      <textarea name="animeSynopsis"></textarea>
    <label>Release Year:</label>
      <input type="text" name="releaseYear">
    <label>Genre</label>
      <select name="animeGenre">
        <option value="Action">Action</option>
        <option value="Adventure">Adventure</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Music">Music </option>
        <option value="Romance">Romance</option>
        <option value="Sci-Fi">Sci-Fi</option>
        <option value="Shojo">Shojo</option>
        <option value="Shonen">Shonen</option>
        <option value="Sliceoflife">Slice of life </option>
        <option value=" Sports">Sports </option>
        <option value=" Supernatural">Supernatural  </option>
        <option value=" Thriller">Thriller </option>
    </select>
    <label>Is the anime On-Going?:</label>
    <input type="checkbox" name="onGoing">

    <input type="submit" value="Add new Anime">
  </form>
  
  <%- include('../partials/footer') %>
